/* style.css */
body {
    font-family: "Noto Sans Thai", sans-serif;
    background-color: #f0f0f0;
}

.header {
    background-color: #FF9967;
    padding: 10px;
    text-align: center;
    color: #ffe0d1;
    font-size: 26px;
    border-radius: 20px;
}

.form-group {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 17px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type="checkbox"] {
    margin-right: 5px;
}

.form-group input[type="submit"] {
    background-color: #FF9967;
    color: #ffdece;
    border: none;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #FFE5EC
    ;
}